form{
    max-width: fit-content;
}
.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centering{
    display: flex;
}
p{
    margin-bottom: 0px !important;
}
.margin{
    margin-left: 20px;
    
}